<%
// Define the card dictionary
const cardDict = {
  "card1": {
    "title": "Winter Park",
    "description": "Winter Park, recently voted #1 Ski Resort in North America by USA Today readers, is the closest major mountain destination to Denver and offers train access right at the base, making it as easy to get to as it is to love. With over 3,000 acres of skiable terrain and some of the most consistent snow in Colorado, world-class skiing meets laid back living in Winter Park. Come for the quintessential Colorado experience. Colorado unfiltered.",
    "image_url": "../../resources/images/WinterPark.jpg",
    "url": "https://www.winterparkresort.com/"
  },
  "card2": {
    "title": "EPIC TITLE",
    "description": "Epic's Resort",
    "image_url": "../../resources/images/WinterPark.jpg",
    "url": "https://www.winterparkresort.com/"
  },
  "card3": {
    "title": "INDY TITLE",
    "description": "Indy's Desc",
    "image_url": "../../resources/images/WinterPark.jpg",
    "url": "https://www.winterparkresort.com/"
  },
  "card4": {
    "title": "MOUNTAIN TITLE",
    "description": "Mountain's Desc",
    "image_url": "../../resources/images/WinterPark.jpg",
    "url": "https://www.winterparkresort.com/"
  }
};

// Create an array of card objects
const cardArray = Object.keys(cardDict).map(function(key) {
  return {
    title: cardDict[key].title,
    description: cardDict[key].description,
    image_url: cardDict[key].image_url,
    url: cardDict[key].url
  };
});
%>

<div class="card-deck">
    <% cardArray.forEach(function(card) { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= card.image_url %>" alt="IMAGE UNAVAILABLE">
          <div class="card-body">
            <h5 class="card-title"><%= card.title %></h5>
            <p class="card-text"><%= card.description %></p>
            <a href="<%= card.url %>" class="btn btn-primary">Learn More</a>
          </div>
        </div>
    <% }); %>
  </div>
  
  
  
