<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<main style="background-color: rgba(255, 255, 255, 0.603);">
  <style>
    body{
        background-image:url("https://i.pinimg.com/originals/f2/6e/4b/f26e4bdca4723c8d5c040de72ad94b25.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
  </style>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <center><h1 style="font-family: Bruno Ace; padding-top: 7%;">Pass Pair</h1></center>
    <h2 style="padding-top: 1%; font-family: Lexend;">Login</h2>
    <form action="/login" method="POST">
        <form>
            <div class="form-group">
              <label for="username" style="padding-top: 2%;">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
            </div>
            <p style="font-family: Mandali;">Don't have an account? <a href="/register">Register</a> here</p>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
</main>

<%- include ('../partials/footer') %>